@{
    ViewBag.TitleSufix = "About Us";
}

<h2 class="mb-5">About Us</h2>

<div class="row">
    <div class="d-flex col-12 col-lg-6">
        <p class="mb-3 my-lg-auto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at convallis magna. Mauris sodales ut magna a condimentum. Nulla eu eros interdum, placerat ex id, dapibus diam. Maecenas placerat tortor vitae auctor pellentesque. Fusce pretium mi eu facilisis cursus. Nullam finibus enim diam, sed convallis ligula facilisis eget. Maecenas laoreet ligula nec dolor laoreet dapibus. Donec sit amet enim ac arcu vehicula pharetra nec at eros. Sed rhoncus quis nulla nec dignissim. Nam lectus purus, sagittis euismod tristique sed, sollicitudin ut justo. Suspendisse potenti. Pellentesque nec mi sodales felis mollis aliquam. In at hendrerit lectus, et tempor magna. Vivamus aliquet rhoncus risus a laoreet.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at convallis magna. Mauris sodales ut magna a condimentum. Nulla eu eros interdum, placerat ex id, dapibus diam. Maecenas placerat tortor vitae auctor pellentesque. Fusce pretium mi eu facilisis cursus. Nullam finibus enim diam, sed convallis ligula facilisis eget. Maecenas laoreet ligula nec dolor laoreet dapibus. Donec sit amet enim ac arcu vehicula pharetra nec at eros. Sed rhoncus quis nulla nec dignissim. Nam lectus purus, sagittis euismod tristique sed, sollicitudin ut justo. Suspendisse potenti. Pellentesque nec mi sodales felis mollis aliquam. In at hendrerit lectus, et tempor magna. Vivamus aliquet rhoncus risus a laoreet.
        </p>
    </div>
    <div class="col-12 col-lg-6">
        <div class="row">
            <div class="col-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at convallis magna. Mauris sodales ut magna a condimentum. Nulla eu eros interdum, placerat ex id, dapibus diam. Maecenas placerat tortor vitae auctor pellentesque. Fusce pretium mi eu facilisis cursus. Nullam finibus enim diam, sed convallis ligula facilisis eget. Maecenas laoreet ligula nec dolor laoreet dapibus. Donec sit amet enim ac arcu vehicula pharetra nec at eros. Sed rhoncus quis nulla nec dignissim. Nam lectus purus, sagittis euismod tristique sed, sollicitudin ut justo. Suspendisse potenti. Pellentesque nec mi sodales felis mollis aliquam. In at hendrerit lectus, et tempor magna. Vivamus aliquet rhoncus risus a laoreet.
                </p>
            </div>
            <div class="col-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at convallis magna. Mauris sodales ut magna a condimentum. Nulla eu eros interdum, placerat ex id, dapibus diam. Maecenas placerat tortor vitae auctor pellentesque. Fusce pretium mi eu facilisis cursus. Nullam finibus enim diam, sed convallis ligula facilisis eget. Maecenas laoreet ligula nec dolor laoreet dapibus. Donec sit amet enim ac arcu vehicula pharetra nec at eros. Sed rhoncus quis nulla nec dignissim. Nam lectus purus, sagittis euismod tristique sed, sollicitudin ut justo. Suspendisse potenti. Pellentesque nec mi sodales felis mollis aliquam. In at hendrerit lectus, et tempor magna. Vivamus aliquet rhoncus risus a laoreet.
                </p>
            </div>
            <div class="col-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at convallis magna. Mauris sodales ut magna a condimentum. Nulla eu eros interdum, placerat ex id, dapibus diam. Maecenas placerat tortor vitae auctor pellentesque. Fusce pretium mi eu facilisis cursus. Nullam finibus enim diam, sed convallis ligula facilisis eget. Maecenas laoreet ligula nec dolor laoreet dapibus. Donec sit amet enim ac arcu vehicula pharetra nec at eros. Sed rhoncus quis nulla nec dignissim. Nam lectus purus, sagittis euismod tristique sed, sollicitudin ut justo. Suspendisse potenti. Pellentesque nec mi sodales felis mollis aliquam. In at hendrerit lectus, et tempor magna. Vivamus aliquet rhoncus risus a laoreet.
                </p>
            </div>
        </div>
    </div>
</div>